body {
    font-family: "Fjalla One", sans-serif;
    text-align:center;
    font-size: 50px;
    background-color: red;
    margin: 0;
    padding: 0
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    text-align:center;
}

main {
    padding: 10px;
}

/* Adjust the input field and button styles */
#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#search-input {
    width: 70%;
    max-width: 500px; /* Limit the maximum width of the input field */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
}

#search-input:focus {
    border-color: #007bff; /* Change border color on focus */
}

#search-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-form button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}
/*
=================================================
BOOKMARKS
=================================================
*/
.bookmarks a{
    text-decoration: none;
 }
 .bookmarks{
    padding:30px;
    clear:both;
 }
 .bookmarks i{
    font-size:42px;
    margin:0 20px;
    color:#000000;
    transition:.15s;
    vertical-align: top;
 }
 .bookmarks i:hover{
    font-size:72px;
    position:relative;
 }
 

